* {
    margin: 0;
    padding: 0;
    font-family: consolas;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

nav {
    height: 4rem;
    width: 100%;
    position: fixed;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10rem;
}

nav > div {
    display: flex;
    gap: 5rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

main {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    background-color: cadetblue;
}

form {
    width: fit-content;
    border-radius: .5rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    min-width: 600px;
    min-height: 300px;
}

form h1 {
    margin-bottom: 1rem;
}

form .forgotPass {
    align-self: flex-end;
}

form div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    gap: 1rem;
}

form input, form textarea, form select {
    height: 1.7rem;
    padding-inline: .5rem;
    flex-grow: 2;
}

form input[type="radio"] {
    width: fit-content;
}

form textarea {
    height: 4rem;
    resize: vertical;
}

form button {
    border: 1px solid black;
    border-radius: .5rem;
    padding: .5rem 2rem;
    background-color: #56cb66;
    color: white;
    font-weight: bold;
}

form button:first-child {
    background-color: crimson;
}